{
    "openapi": "3.0.0",
    "info": {
        "title": "API UKM Politeknik",
        "description": "API UKM Politeknik Negeri Lampung. Response dapat berubah sewaktu waktu menyesuaikan perbaikan",
        "contact": {
            "email": "leopradana013@gmail.com"
        },
        "license": {
            "name": "MIT License",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://api-ukm.spaceart.tech/api",
            "description": "Production"
        }
    ],
    "paths": {
        "/agenda/highlight": {
            "get": {
                "tags": [
                    "Agenda"
                ],
                "summary": "Menampilkan 1 agenda terbaru",
                "operationId": "c1f322a323b787922c90b5b1e85ef726",
                "parameters": [
                    {
                        "parameter": "id_ukm",
                        "name": "id_ukm",
                        "in": "query",
                        "description": "ID UKM",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "nama": {
                                                        "type": "string",
                                                        "example": "example nama"
                                                    },
                                                    "jenis": {
                                                        "type": "enum",
                                                        "example": "example jenis"
                                                    },
                                                    "singkatan_ukm": {
                                                        "type": "string",
                                                        "example": "example singkatan_ukm"
                                                    },
                                                    "foto_ukm": {
                                                        "type": "text",
                                                        "example": "example foto_ukm"
                                                    },
                                                    "keterangan": {
                                                        "type": "string",
                                                        "example": "example keterangan"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/agenda/detail/{agenda_id}": {
            "get": {
                "tags": [
                    "Agenda"
                ],
                "summary": "Menampilkan detail agenda",
                "operationId": "0bdab274cb411aa2449f0b281afdfbad",
                "parameters": [
                    {
                        "parameter": "agenda_id",
                        "name": "agenda_id",
                        "in": "path",
                        "description": "ID Agenda",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "parameter": "id_ukm",
                        "name": "id_ukm",
                        "in": "query",
                        "description": "ID UKM",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "nama": {
                                                        "type": "string",
                                                        "example": "example nama"
                                                    },
                                                    "jenis": {
                                                        "type": "enum",
                                                        "example": "example jenis"
                                                    },
                                                    "singkatan_ukm": {
                                                        "type": "string",
                                                        "example": "example singkatan_ukm"
                                                    },
                                                    "foto_ukm": {
                                                        "type": "text",
                                                        "example": "example foto_ukm"
                                                    },
                                                    "keterangan": {
                                                        "type": "string",
                                                        "example": "example keterangan"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/announcement/highlight": {
            "get": {
                "tags": [
                    "Announcement"
                ],
                "summary": "Menampilkan 1 pengumuman terbaru",
                "operationId": "4547e7dbad450d11ffd432c2f68d33a9",
                "parameters": [
                    {
                        "parameter": "id_ukm",
                        "name": "id_ukm",
                        "in": "query",
                        "description": "ID UKM",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "nama": {
                                                        "type": "string",
                                                        "example": "example nama"
                                                    },
                                                    "jenis": {
                                                        "type": "enum",
                                                        "example": "example jenis"
                                                    },
                                                    "singkatan_ukm": {
                                                        "type": "string",
                                                        "example": "example singkatan_ukm"
                                                    },
                                                    "foto_ukm": {
                                                        "type": "text",
                                                        "example": "example foto_ukm"
                                                    },
                                                    "keterangan": {
                                                        "type": "string",
                                                        "example": "example keterangan"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/announcement/detail/{announcement_id}": {
            "get": {
                "tags": [
                    "Announcement"
                ],
                "summary": "Menampilkan detail pengumuman",
                "operationId": "61039c8695e650b9bd65fbc02773a9e4",
                "parameters": [
                    {
                        "parameter": "announcement_id",
                        "name": "announcement_id",
                        "in": "path",
                        "description": "ID Announcement",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "parameter": "id_ukm",
                        "name": "id_ukm",
                        "in": "query",
                        "description": "ID UKM",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "nama": {
                                                        "type": "string",
                                                        "example": "example nama"
                                                    },
                                                    "jenis": {
                                                        "type": "enum",
                                                        "example": "example jenis"
                                                    },
                                                    "singkatan_ukm": {
                                                        "type": "string",
                                                        "example": "example singkatan_ukm"
                                                    },
                                                    "foto_ukm": {
                                                        "type": "text",
                                                        "example": "example foto_ukm"
                                                    },
                                                    "keterangan": {
                                                        "type": "string",
                                                        "example": "example keterangan"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Login"
                ],
                "summary": "Autentikasi",
                "description": "Mendapatkan JWT untuk akses private API",
                "operationId": "2dd578ff7aba2721293dac66833b27d1",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "Email UKM, Ex: ukmplpa@gmail.com",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "Password UKM, Ex: 12345678",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/gallery-image/highlight": {
            "get": {
                "tags": [
                    "Gallery Image"
                ],
                "summary": "Menampilkan 1 galeri foto terbaru",
                "operationId": "5623c6bd3f08f5cbca5bd8a4c353ee71",
                "parameters": [
                    {
                        "parameter": "id_ukm",
                        "name": "id_ukm",
                        "in": "query",
                        "description": "ID UKM",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "nama": {
                                                        "type": "string",
                                                        "example": "example nama"
                                                    },
                                                    "jenis": {
                                                        "type": "enum",
                                                        "example": "example jenis"
                                                    },
                                                    "singkatan_ukm": {
                                                        "type": "string",
                                                        "example": "example singkatan_ukm"
                                                    },
                                                    "foto_ukm": {
                                                        "type": "text",
                                                        "example": "example foto_ukm"
                                                    },
                                                    "keterangan": {
                                                        "type": "string",
                                                        "example": "example keterangan"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gallery-image/main-gallery-image": {
            "get": {
                "tags": [
                    "Gallery Image"
                ],
                "summary": "Menampilkan daftar seluruh galeri foto",
                "operationId": "4f203dd57cba1b121db65659ffc35fdd",
                "parameters": [
                    {
                        "parameter": "id_ukm",
                        "name": "id_ukm",
                        "in": "query",
                        "description": "ID UKM",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "nama": {
                                                        "type": "string",
                                                        "example": "example nama"
                                                    },
                                                    "jenis": {
                                                        "type": "enum",
                                                        "example": "example jenis"
                                                    },
                                                    "singkatan_ukm": {
                                                        "type": "string",
                                                        "example": "example singkatan_ukm"
                                                    },
                                                    "foto_ukm": {
                                                        "type": "text",
                                                        "example": "example foto_ukm"
                                                    },
                                                    "keterangan": {
                                                        "type": "string",
                                                        "example": "example keterangan"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gallery-video/highlight": {
            "get": {
                "tags": [
                    "Gallery Video"
                ],
                "summary": "Menampilkan 1 galeri video terbaru",
                "operationId": "295d2e0af4ec2dde70c01c06a722ec77",
                "parameters": [
                    {
                        "parameter": "id_ukm",
                        "name": "id_ukm",
                        "in": "query",
                        "description": "ID UKM",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "nama": {
                                                        "type": "string",
                                                        "example": "example nama"
                                                    },
                                                    "jenis": {
                                                        "type": "enum",
                                                        "example": "example jenis"
                                                    },
                                                    "singkatan_ukm": {
                                                        "type": "string",
                                                        "example": "example singkatan_ukm"
                                                    },
                                                    "foto_ukm": {
                                                        "type": "text",
                                                        "example": "example foto_ukm"
                                                    },
                                                    "keterangan": {
                                                        "type": "string",
                                                        "example": "example keterangan"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/gallery-video/main-gallery-video": {
            "get": {
                "tags": [
                    "Gallery Video"
                ],
                "summary": "Menampilkan daftar seluruh galeri video",
                "operationId": "908a6ab6016c06e83e24da555f806e0f",
                "parameters": [
                    {
                        "parameter": "id_ukm",
                        "name": "id_ukm",
                        "in": "query",
                        "description": "ID UKM",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "nama": {
                                                        "type": "string",
                                                        "example": "example nama"
                                                    },
                                                    "jenis": {
                                                        "type": "enum",
                                                        "example": "example jenis"
                                                    },
                                                    "singkatan_ukm": {
                                                        "type": "string",
                                                        "example": "example singkatan_ukm"
                                                    },
                                                    "foto_ukm": {
                                                        "type": "text",
                                                        "example": "example foto_ukm"
                                                    },
                                                    "keterangan": {
                                                        "type": "string",
                                                        "example": "example keterangan"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/news-category/highlight": {
            "get": {
                "tags": [
                    "News Category"
                ],
                "summary": "Menampikan 4 kategori berita secara random",
                "operationId": "50dc91bc1172bad65612ff24ba5b18b7",
                "parameters": [
                    {
                        "parameter": "id_ukm",
                        "name": "id_ukm",
                        "in": "query",
                        "description": "ID UKM",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "nama": {
                                                        "type": "string",
                                                        "example": "example nama"
                                                    },
                                                    "jenis": {
                                                        "type": "enum",
                                                        "example": "example jenis"
                                                    },
                                                    "singkatan_ukm": {
                                                        "type": "string",
                                                        "example": "example singkatan_ukm"
                                                    },
                                                    "foto_ukm": {
                                                        "type": "text",
                                                        "example": "example foto_ukm"
                                                    },
                                                    "keterangan": {
                                                        "type": "string",
                                                        "example": "example keterangan"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/news/highlight": {
            "get": {
                "tags": [
                    "News"
                ],
                "summary": "Menampikan 1 berita terbaru",
                "operationId": "ec6cb23f53c2dcf30aab241a299f705d",
                "parameters": [
                    {
                        "parameter": "id_ukm",
                        "name": "id_ukm",
                        "in": "query",
                        "description": "ID UKM",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "nama": {
                                                        "type": "string",
                                                        "example": "example nama"
                                                    },
                                                    "jenis": {
                                                        "type": "enum",
                                                        "example": "example jenis"
                                                    },
                                                    "singkatan_ukm": {
                                                        "type": "string",
                                                        "example": "example singkatan_ukm"
                                                    },
                                                    "foto_ukm": {
                                                        "type": "text",
                                                        "example": "example foto_ukm"
                                                    },
                                                    "keterangan": {
                                                        "type": "string",
                                                        "example": "example keterangan"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/news/popular": {
            "get": {
                "tags": [
                    "News"
                ],
                "summary": "Menampilkan berita terpopuler berdasarkan jumlah dibaca",
                "operationId": "ed1a9707c2762c32ce2e6e31271b047c",
                "parameters": [
                    {
                        "parameter": "id_ukm",
                        "name": "id_ukm",
                        "in": "query",
                        "description": "ID UKM",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "nama": {
                                                        "type": "string",
                                                        "example": "example nama"
                                                    },
                                                    "jenis": {
                                                        "type": "enum",
                                                        "example": "example jenis"
                                                    },
                                                    "singkatan_ukm": {
                                                        "type": "string",
                                                        "example": "example singkatan_ukm"
                                                    },
                                                    "foto_ukm": {
                                                        "type": "text",
                                                        "example": "example foto_ukm"
                                                    },
                                                    "keterangan": {
                                                        "type": "string",
                                                        "example": "example keterangan"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/news/main-home-news": {
            "get": {
                "tags": [
                    "News"
                ],
                "summary": "Menampilkan seluruh daftar berita",
                "operationId": "44a0eff2c17dc0cb0598f23773c9ce7d",
                "parameters": [
                    {
                        "parameter": "id_ukm",
                        "name": "id_ukm",
                        "in": "query",
                        "description": "ID UKM",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "parameter": "id_kategori",
                        "name": "id_kategori",
                        "in": "query",
                        "description": "Sortir berdasarkan ID Kategori Ex: 'semua'",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "nama": {
                                                        "type": "string",
                                                        "example": "example nama"
                                                    },
                                                    "jenis": {
                                                        "type": "enum",
                                                        "example": "example jenis"
                                                    },
                                                    "singkatan_ukm": {
                                                        "type": "string",
                                                        "example": "example singkatan_ukm"
                                                    },
                                                    "foto_ukm": {
                                                        "type": "text",
                                                        "example": "example foto_ukm"
                                                    },
                                                    "keterangan": {
                                                        "type": "string",
                                                        "example": "example keterangan"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/news/detail/{news_id}": {
            "get": {
                "tags": [
                    "News"
                ],
                "summary": "Menampilkan detail berita",
                "operationId": "618952d748f935a8ed0dfae430acc15a",
                "parameters": [
                    {
                        "parameter": "news_id",
                        "name": "news_id",
                        "in": "path",
                        "description": "ID Berita",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "parameter": "id_ukm",
                        "name": "id_ukm",
                        "in": "query",
                        "description": "ID UKM",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "nama": {
                                                        "type": "string",
                                                        "example": "example nama"
                                                    },
                                                    "jenis": {
                                                        "type": "enum",
                                                        "example": "example jenis"
                                                    },
                                                    "singkatan_ukm": {
                                                        "type": "string",
                                                        "example": "example singkatan_ukm"
                                                    },
                                                    "foto_ukm": {
                                                        "type": "text",
                                                        "example": "example foto_ukm"
                                                    },
                                                    "keterangan": {
                                                        "type": "string",
                                                        "example": "example keterangan"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/news/related": {
            "get": {
                "tags": [
                    "News"
                ],
                "summary": "Menampilkan berita terkait berdasarkan id kategori",
                "operationId": "347747f72991765b2036d54e02b79adb",
                "parameters": [
                    {
                        "parameter": "id_ukm",
                        "name": "id_ukm",
                        "in": "query",
                        "description": "ID UKM",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "parameter": "category_id",
                        "name": "category_id",
                        "in": "query",
                        "description": "ID Kategori Berita",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "rows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "_id": {
                                                        "type": "number",
                                                        "example": "1"
                                                    },
                                                    "nama": {
                                                        "type": "string",
                                                        "example": "example nama"
                                                    },
                                                    "jenis": {
                                                        "type": "enum",
                                                        "example": "example jenis"
                                                    },
                                                    "singkatan_ukm": {
                                                        "type": "string",
                                                        "example": "example singkatan_ukm"
                                                    },
                                                    "foto_ukm": {
                                                        "type": "text",
                                                        "example": "example foto_ukm"
                                                    },
                                                    "keterangan": {
                                                        "type": "string",
                                                        "example": "example keterangan"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "example": "2021-12-11T09:25:53.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/pendaftaran-anggota/daftar/{id_ukm}": {
            "post": {
                "tags": [
                    "Pendaftaran Anggota"
                ],
                "summary": "Pendaftaran anggota UKM",
                "operationId": "7b179f39ddfd4fd4e750c60ccd5fbeec",
                "parameters": [
                    {
                        "parameter": "id_ukm",
                        "name": "id_ukm",
                        "in": "path",
                        "description": "ID UKM",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "nama",
                                    "prodi",
                                    "jurusan",
                                    "email",
                                    "no_hp",
                                    "alasan_bergabung"
                                ],
                                "properties": {
                                    "nama": {
                                        "description": "Nama mahasiswa",
                                        "type": "string"
                                    },
                                    "prodi": {
                                        "description": "Prodi mahasiswa",
                                        "type": "string"
                                    },
                                    "jurusan": {
                                        "description": "Jurusan mahasiswa",
                                        "type": "string"
                                    },
                                    "email": {
                                        "description": "Email aktif mahasiswa",
                                        "type": "string"
                                    },
                                    "no_hp": {
                                        "description": "Nomor HP mahasiswa yang dapat dihubungi",
                                        "type": "string"
                                    },
                                    "alasan_bergabung": {
                                        "description": "Alasan bergabung ke UKM",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/private/agenda": {
            "get": {
                "tags": [
                    "Agenda"
                ],
                "summary": "Daftar Agenda",
                "operationId": "61d603644b521cbfde0c770b809416e3",
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agenda"
                ],
                "summary": "Membuat Agenda",
                "description": "Membuat informasi agenda",
                "operationId": "c955bd9303bd8c5df21eaebda5013caa",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "image",
                                    "title",
                                    "content",
                                    "lokasi",
                                    "tanggal",
                                    "waktu"
                                ],
                                "properties": {
                                    "image": {
                                        "description": "Gambar agenda",
                                        "type": "file"
                                    },
                                    "title": {
                                        "description": "Judul informasi agenda",
                                        "type": "string"
                                    },
                                    "content": {
                                        "description": "Isi agenda (Use WYSWIG)",
                                        "type": "string"
                                    },
                                    "lokasi": {
                                        "description": "Lokasi agenda",
                                        "type": "string"
                                    },
                                    "tanggal": {
                                        "description": "Tanggal dimulai. Ex: YYYY-MM-DD (SQL Format Default)",
                                        "type": "string"
                                    },
                                    "waktu": {
                                        "description": "Waktu dimulai. Ex: h:mm (Moment JS Format)",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/private/agenda/{agenda_id}": {
            "get": {
                "tags": [
                    "Agenda"
                ],
                "summary": "Detail agenda",
                "description": "Informasi lengkap data agenda",
                "operationId": "e4a0dbef80bcdbdd290fe2f059113626",
                "parameters": [
                    {
                        "name": "agenda_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Agenda"
                ],
                "summary": "Perbarui agenda",
                "description": "Perbarui informasi agenda",
                "operationId": "41e1d27ff1ddcb0fa5e0ba42abfa72ce",
                "parameters": [
                    {
                        "name": "agenda_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "image",
                                    "title",
                                    "content",
                                    "lokasi",
                                    "tanggal",
                                    "waktu"
                                ],
                                "properties": {
                                    "image": {
                                        "description": "Gambar agenda",
                                        "type": "file"
                                    },
                                    "title": {
                                        "description": "Judul informasi agenda",
                                        "type": "string"
                                    },
                                    "content": {
                                        "description": "Isi agenda (Use WYSWIG)",
                                        "type": "string"
                                    },
                                    "lokasi": {
                                        "description": "Lokasi agenda",
                                        "type": "string"
                                    },
                                    "tanggal": {
                                        "description": "Tanggal dimulai. Ex: YYYY-MM-DD (SQL Format Default)",
                                        "type": "string"
                                    },
                                    "waktu": {
                                        "description": "Waktu dimulai. Ex: h:mm (Moment JS Format)",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Agenda"
                ],
                "summary": "Menghapus agenda",
                "description": "Menghapus informasi agenda",
                "operationId": "3b47737c3684d0ec53854a8ad16d0174",
                "parameters": [
                    {
                        "name": "agenda_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/private/announcement": {
            "get": {
                "tags": [
                    "Announcement"
                ],
                "summary": "Daftar Pengumuman",
                "operationId": "1177c73bae07a3afa4daa18206c3259f",
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Announcement"
                ],
                "summary": "Membuat Pengumuman",
                "description": "Membuat informasi Pengumuman",
                "operationId": "dcc09eeef28c968faca9579489f2e241",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "image",
                                    "title",
                                    "content"
                                ],
                                "properties": {
                                    "image": {
                                        "description": "Gambar pengumuman",
                                        "type": "file"
                                    },
                                    "title": {
                                        "description": "Judul informasi pengumuman",
                                        "type": "string"
                                    },
                                    "content": {
                                        "description": "Isi pengumuman (Use WYSWIG)",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/private/announcement/{announcement_id}": {
            "get": {
                "tags": [
                    "Announcement"
                ],
                "summary": "Detail pengumuman",
                "description": "Informasi lengkap data pengumuman",
                "operationId": "7953ecf37106ee483f8806526a0dbcc8",
                "parameters": [
                    {
                        "name": "announcement_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Announcement"
                ],
                "summary": "Perbarui Pengumuman",
                "description": "Perbarui informasi Pengumuman",
                "operationId": "32559141f091703529191b1385adcf2b",
                "parameters": [
                    {
                        "name": "announcement_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "image",
                                    "title",
                                    "content"
                                ],
                                "properties": {
                                    "image": {
                                        "description": "Gambar pengumuman",
                                        "type": "file"
                                    },
                                    "title": {
                                        "description": "Judul informasi pengumuman",
                                        "type": "string"
                                    },
                                    "content": {
                                        "description": "Isi pengumuman (Use WYSWIG)",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Announcement"
                ],
                "summary": "Menghapus pengumuman",
                "description": "Menghapus informasi pengumuman",
                "operationId": "2975ac455c534cc44b813c0e7bede110",
                "parameters": [
                    {
                        "name": "announcement_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/private/dashboard": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Dashboard",
                "operationId": "15d54ed00be0211af495f38ed01cecaf",
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/private/gallery-image": {
            "get": {
                "tags": [
                    "Gallery Image"
                ],
                "summary": "Daftar Galeri Foto",
                "operationId": "4da2f74e7b41b8450b0bf10c55f3566c",
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Gallery Image"
                ],
                "summary": "Membuat Galeri Foto",
                "description": "Membuat galeri foto",
                "operationId": "25146db3839e835d8065d97a90f97cc4",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "foto",
                                    "judul",
                                    "deskripsi"
                                ],
                                "properties": {
                                    "foto": {
                                        "description": "Foto",
                                        "type": "file"
                                    },
                                    "judul": {
                                        "description": "Judul informasi galeri foto",
                                        "type": "string"
                                    },
                                    "deskripsi": {
                                        "description": "Deskripsi galeri foto",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/private/gallery-image/{gallery_image_id}": {
            "get": {
                "tags": [
                    "Gallery Image"
                ],
                "summary": "Detail Galeri Foto",
                "description": "Informasi lengkap data galeri foto",
                "operationId": "3608ec2c5c5394d18aafcbf6456a3fac",
                "parameters": [
                    {
                        "name": "gallery_image_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Gallery Image"
                ],
                "summary": "Perbarui Galeri Foto",
                "description": "Perbarui informasi galeri foto",
                "operationId": "53d4f0aa9eaf3e75f7e82a88415dea54",
                "parameters": [
                    {
                        "name": "gallery_image_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "foto",
                                    "judul",
                                    "deskripsi"
                                ],
                                "properties": {
                                    "foto": {
                                        "description": "Foto",
                                        "type": "file"
                                    },
                                    "judul": {
                                        "description": "Judul informasi galeri foto",
                                        "type": "string"
                                    },
                                    "deskripsi": {
                                        "description": "Deskripsi galeri foto",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Gallery Image"
                ],
                "summary": "Menghapus Galeri Foto",
                "description": "Menghapus informasi galeri foto",
                "operationId": "9a6f7654a1e6bc0f88bd58f7cc6c2074",
                "parameters": [
                    {
                        "name": "gallery_image_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/private/gallery-video": {
            "get": {
                "tags": [
                    "Gallery Video"
                ],
                "summary": "Daftar Galeri Video",
                "operationId": "6539023df256022a3c3cb883b1be263a",
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Gallery Video"
                ],
                "summary": "Membuat Galeri Video",
                "description": "Membuat informasi galeri video",
                "operationId": "d4b3fe02982fd75fe636a1e2f43dfbbc",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "youtube_id",
                                    "judul",
                                    "deskripsi"
                                ],
                                "properties": {
                                    "youtube_id": {
                                        "description": "Id youtube",
                                        "type": "string"
                                    },
                                    "judul": {
                                        "description": "Judul informasi galeri video",
                                        "type": "string"
                                    },
                                    "deskripsi": {
                                        "description": "Isi galeri video",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/private/gallery-video/{gallery_video_id}": {
            "get": {
                "tags": [
                    "Gallery Video"
                ],
                "summary": "Detail Galeri Video",
                "description": "Informasi lengkap data galeri video",
                "operationId": "289a82b149ac068f78faa9a10e64454f",
                "parameters": [
                    {
                        "name": "gallery_video_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_id": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Gallery Video"
                ],
                "summary": "Perbarui Galeri Video",
                "description": "Perbarui informasi galeri video",
                "operationId": "84a9170f22a32bd3d464618c9b4bcda9",
[...]
